body {
    margin: 0 auto;
    background: #c5b9b9;
    height: 844px;
    width: 1440px;
}

.header {
    height: 89px;
    background: #590BFF;
}

.header__adress-book {
    position: relative;
    width: 403px;
    height: 63px;
    left: 29px;
    top: 13px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 54px;
}

.main {
    position: relative;
    height: 755px;
    background: white;
}

.sidebar {
    position: relative;
    width: 282px;
    height: 457px;
    left: 5px;
    top: 47px;
    border-right: 2px solid #000000;
}


.sidebar__header {
    width: 240px;
    height: 33px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 28px;
    color: #000000;
}

.sidebar__links {

    display: flex;
    flex-direction: column;
}


.sidebar__links-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #FF710B;
    margin-top: 23px;
    margin-left: 25px;
}

.content {
    background-color: white;
    width: 1080px;
    height: 700px;
    position: absolute;
    left: 335px;
    top: 20px;
    overflow: overlay;
}

.content__header {
    width: 1080px;
    height: 41;
    background: #590BFF;
}

.content__header-letter{
    position: relative;
    width: 19px;
    height: 33px;
    left: 13px;
    top: 1px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.content__catalog {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    list-style-type: none;
    color: #000000;
}

.content__sticky {
    position: fixed;
    width: 1080px;
    height: 20px;
    background: aqua;
}

.content__sticky-name {
    margin: 1px 1px 1px 13px;
}